@import './common.scss';

article{
    &#desc, &#team{
        background: rgba($color: #000000, $alpha: 0.25);
    }
    &#geng, &#ctus{
        background: rgba($color: #000000, $alpha: 0.125);
    }
    &#ctus{
        padding: 5rem 0;
        p{
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 2rem;
        }
        .btn-custom-primary{
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}
section{
    &.section-icon{        
        border-radius: 100%;
        border: 4px solid $color-primary;
        padding: 4px;        
        text-align: center;        
        img{            
            width: 6rem;    
            @media only screen and (min-width : $break-sm) {
                width: 9rem;
            }
            @media only screen and (min-width : $break-md) {
                width: 12rem;
            }
            // width: 6rem;
            // @media only screen and (min-width : $break-sm) {
            //     width: 8rem;                
            // }
            // @media only screen and (min-width : $break-md) {                
            //     width: 12rem;
            // }            
        }
    }
    &.section-text{
        p{
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: center;
            @media only screen and (min-width : $break-md) {
                text-align: left;
            }            
        }
    }
}