@import './variable.scss';

body{
    margin-top: 4rem;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: #212121;    
    height: 4rem;
    .navbar-nav{
        .nav-link{            
            &.active{        
                color: $color-primary;
                // background: $$color-primary;
                // background: linear-gradient(0deg, rgba($color: $color-primary, $alpha: 1.0) 0%, rgba($color: $color-primary, $alpha: 0.55) 62%, rgba($color: $color-primary, $alpha: 0) 100%);        
            }
        }        
    }
}

body{
    // padding-top: 4rem;
    background: #1B1B1B;
}

#hero{
    position: relative;
    #hero-body{
        position: absolute;
        top: calc(50% + 2rem);
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.75);        
        h1{
            color: $color-primary;
            font-size: 3rem !important;
        }
        p{
            font-size: 1rem !important;            
        }
        @media only screen and (min-width : $break-sm) {
            h1{                
                font-size: 4rem !important;
            }
            p{
                font-size: 1.25rem !important;            
            }
        }
        @media only screen and (min-width : $break-md) {
            h1{                
                font-size: 5rem !important;
            }
            p{
                font-size: 1.5rem !important;
            }
        }
    }
    #hero-footer{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        .arrow-down{
            margin: 1rem;
            &:hover{            
                cursor: pointer;
            }
            .arrow-left, .arrow-right{
                display: inline-block;
                height: 2rem;
                width: 4px;
                border-radius: 2px;
                background: white;            
            }
            .arrow-left{
                transform: translateX(-0.5rem) rotate(-45deg);
            }
            .arrow-right{
                transform: translateX(0.5rem) rotate(45deg);    
            }
        }
    }
}

footer{
    text-align: center;    
    padding: 1rem;
    background: #212121;
    color: rgba($color: #ffffff, $alpha: 0.5);    
    p{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.btn{    
    &.btn-custom-primary{        
        background: $color-primary;
        color: white;
        border-radius: 2px;        
        &:hover{
            background: #c62828;
        }
        &:focus{
            box-shadow: 0 0 0 0.2rem rgba($color: #e53935, $alpha: 0.25);
        }
    }
}

.card-link-custom-primary{
    color: $color-primary;
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
    border-radius: 2px;
    border: 1px solid $color-primary;
    padding: 12px;
    &:hover{
        background: $color-primary;
        color: white;
    }
}

.custom-title{               
    .custom-title-text{
        display: inline;
        padding: 4px 1rem;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &.custom-title-left{
        .custom-title-text{
            border-left: 4px solid $color-primary;
        }
    }
    &.custom-title-right{
        .custom-title-text{
            border-right: 4px solid $color-primary;
        }
    }
}