@import './common.scss';

#news{
    .card{
        border-radius: unset;
        border: none;
        background: rgba($color: #000000, $alpha: 0.25);
        .card-img-top{
            border-radius: unset;
        }
        .card-body{
            color: white;
        }
    }
}