@import './common.scss';

#post-content{    
    background: rgba($color: #000000, $alpha: 0.25);
    width: 100%;    
    padding: 1rem;
    color: white;
    h1, h2, h3, h4, h5, h6{
        font-weight: 400;
    }
    p{
        font-weight: 300;
    }
    & > *{        
        overflow-wrap: break-word;
    }        
}

.card{
    border-radius: unset;
    border: none;
    background: rgba($color: #000000, $alpha: 0.25);
    .card-img-top{
        border-radius: unset;
    }
    .card-body{
        color: white;
    }
}