body {
  margin-top: 4rem;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #212121;
  height: 4rem;
}

.navbar .navbar-nav .nav-link.active {
  color: #D32F2F;
}

body {
  background: #1B1B1B;
}

#hero {
  position: relative;
}

#hero #hero-body {
  position: absolute;
  top: calc(50% + 2rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.75);
}

#hero #hero-body h1 {
  color: #D32F2F;
  font-size: 3rem !important;
}

#hero #hero-body p {
  font-size: 1rem !important;
}

@media only screen and (min-width: 576px) {
  #hero #hero-body h1 {
    font-size: 4rem !important;
  }
  #hero #hero-body p {
    font-size: 1.25rem !important;
  }
}

@media only screen and (min-width: 768px) {
  #hero #hero-body h1 {
    font-size: 5rem !important;
  }
  #hero #hero-body p {
    font-size: 1.5rem !important;
  }
}

#hero #hero-footer {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

#hero #hero-footer .arrow-down {
  margin: 1rem;
}

#hero #hero-footer .arrow-down:hover {
  cursor: pointer;
}

#hero #hero-footer .arrow-down .arrow-left, #hero #hero-footer .arrow-down .arrow-right {
  display: inline-block;
  height: 2rem;
  width: 4px;
  border-radius: 2px;
  background: white;
}

#hero #hero-footer .arrow-down .arrow-left {
  -webkit-transform: translateX(-0.5rem) rotate(-45deg);
          transform: translateX(-0.5rem) rotate(-45deg);
}

#hero #hero-footer .arrow-down .arrow-right {
  -webkit-transform: translateX(0.5rem) rotate(45deg);
          transform: translateX(0.5rem) rotate(45deg);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #212121;
  color: rgba(255, 255, 255, 0.5);
}

footer p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn.btn-custom-primary {
  background: #D32F2F;
  color: white;
  border-radius: 2px;
}

.btn.btn-custom-primary:hover {
  background: #c62828;
}

.btn.btn-custom-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 57, 53, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(229, 57, 53, 0.25);
}

.card-link-custom-primary {
  color: #D32F2F;
  -webkit-transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  border-radius: 2px;
  border: 1px solid #D32F2F;
  padding: 12px;
}

.card-link-custom-primary:hover {
  background: #D32F2F;
  color: white;
}

.custom-title .custom-title-text {
  display: inline;
  padding: 4px 1rem;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
}

.custom-title.custom-title-left .custom-title-text {
  border-left: 4px solid #D32F2F;
}

.custom-title.custom-title-right .custom-title-text {
  border-right: 4px solid #D32F2F;
}
/*# sourceMappingURL=common.css.map */